venv/
__pycache__/
*.pyc
.cache/
dataset/
*.dataset
models/
*.pt
*.pth
*.h5
*.ckpt
cgan_checkpoints/
gan_checkpoints_V2_h5/
gan_generated_images/
gan_generated_images_V2_h5/
outputs_gradcam/
*.png
*.jpg
*.jpeg